<?xml version="1.0"?>
<config>
    <modules>
        <NinePoints_Editor>
            <version>0.1.0</version>
        </NinePoints_Editor>
    </modules>
    <global>
        <models>
            <npeditor>
                <class>NinePoints_Editor_Model</class>
            </npeditor>
        </models>
        <blocks>
            <npeditor>
                <class>NinePoints_Editor_Block</class>
            </npeditor>
            <adminhtml>
                <rewrite>
                    <catalog_helper_form_wysiwyg_content>NinePoints_Editor_Block_Adminhtml_Catalog_Helper_Form_Wysiwyg_Content</catalog_helper_form_wysiwyg_content>
                    <catalog_helper_form_wysiwyg>NinePoints_Editor_Block_Adminhtml_Catalog_Helper_Form_Wysiwyg</catalog_helper_form_wysiwyg>
                    <cms_block_edit_form>NinePoints_Editor_Block_Adminhtml_Cms_Block_Edit_Form</cms_block_edit_form>
                    <cms_page_edit_tab_content>NinePoints_Editor_Block_Adminhtml_Cms_Page_Edit_Tab_Content</cms_page_edit_tab_content>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <npeditor>
                <class>NinePoints_Editor_Helper</class>
            </npeditor>
        </helpers>
        <resources>
            <npeditor_setup>
                <setup>
                    <module>NinePoints_Editor</module>
                </setup>
            </npeditor_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ninepoints_editor>
                    <file>npeditor.xml</file>
                </ninepoints_editor>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ninepoints_editor before="Mage_Adminhtml">NinePoints_Editor_Adminhtml</ninepoints_editor>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <cms>
            <wysiwyg>
                <use_ckeditor>1</use_ckeditor>
                <theme>default</theme>
            </wysiwyg>
        </cms>
    </default>
</config>